body,html{
margin: 0;
padding: 0;
background: black;
}

.searchtext{
color: #EC7A62;
font-size: 41px;
font-style: oblique;
margin: 7% 0px 0% 35%;
}

img.flip-image {
    height: 335px;
}
.searchbar{
    margin-left: 28%;
    margin-top: 2%;
    height: 41px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    width: 45%;
}

.search_input{
color: #F17458;
border: 0;
outline: 0;
background: none;
width: 75%;
caret-color:transparent;
line-height: 40px;
}

div#zeromovies {
    background: black;
    color: #EC7A62;
    font-style: oblique;
}

.searchbar:hover > .search_input{
padding: 0 10px;
caret-color:red;
transition: width 0.4s linear;
}

.searchbar:hover > .search_icon{
background: white;
color: #e74c3c;
}

.search_icon{
height: 40px;
width: 40px;
float: right;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
color:white;
text-decoration:none;
}

html::-webkit-scrollbar {
    width: 20px;
    height: 20px;
}
html::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg,black,#EC7A62);
    border-radius: 30px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.cards {
  padding: 15px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
}

.card {
  margin: 15px;
  width: calc((50% / 3) - 30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-right: 120px;
}
@media screen and (max-width: 991px) {
  .card {
    width: calc((100% / 2) - 30px);
  }
}
@media screen and (max-width: 767px) {
  .card {
    width: 25%;
    margin: 0px;
    margin-left: 6%;
  }
}
.card:hover .card__inner {
  box-shadow: 5px 5px 25px #E0735B;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.card__inner {
  width: 100%;
  padding: 10px;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  color: #eceef1;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.card__inner:after {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.card__inner .fa {
  width: 100%;
  margin-top: .25em;
}
.card.is-expanded .card__inner .fa:before {
  content: "\f115";
}

.card__expander {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #333a45;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #eceef1;
  font-size: 1.5em;
}
.card__expander .fa {
  font-size: 0.75em;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.card__expander .fa:hover {
  opacity: 0.9;
}
.card.is-collapsed .card__inner:after {
  content: "";
  opacity: 0;
}

.card.is-collapsed .card__expander {
  max-height: 0;
  min-height: 0;
  overflow: hidden;
  margin-top: 0;
  opacity: 0;
}

.card.is-expanded .card__inner:after {
  content: "";
  opacity: 1;
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  bottom: -30px;
  left: calc(50% - 15px);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #333a45;
}
.card.is-expanded .card__inner .fa:before {
  content: "\f115";
}
.card.is-expanded .card__expander {
  max-height: 300px;
  overflow: visible;
  margin-top: 170px;
  opacity: 1;
}
.card.is-expanded:hover .card__inner {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.card.is-inactive .card__inner {
  pointer-events: none;
  opacity: 0.5;
}
.card.is-inactive:hover .card__inner {
  box-shadow: 10px 10px 18px #E0735B;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media screen and (min-width: 992px) {
  .card:nth-of-type(4n+2) .card__expander {
    margin-left: calc(-100% - 30px);
  }
  .card:nth-of-type(4n+3) .card__expander {
    margin-left: calc(-100% - 30px);
  }

  .card:nth-of-type(4n+4) .card__expander {
    margin-left: calc(-300% - 60px);
  }

  .card:nth-of-type(4n+4) {
    clear: left;
  }

  .card__expander {
    width: calc(400% + 60px);
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .card:nth-of-type(2n+2) .card__expander {
    margin-left: calc(-100% - 30px);
  }

  .card:nth-of-type(2n+3) {
    clear: left;
  }

  .card__expander {
    width: calc(200% + 30px);
  }
}

.card__expander{
    background-color: transparent;
    color: black;
    opacity: .7;
}

//loader

.loader {
  display: none;
  color: white;
  font-size: 250%;
  margin-left: 50%;
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.2em;
}

.loader{
color: #EC7A62;
    font-size: 34px;
    opacity: 0.75;
}

.matchpercentage{
    float: right;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1000;
    background-color: #EC7A62;
    padding: 5px;
    color: #FFFFFF;
    font-weight: bold;
}

.loader::before, .loader::after {
  content: "";
  display: block;
  width: 15px;
  background-color: #EC7A62;
  height: 15px;
  background: white;
  position: absolute;
  -webkit-animation: load 0.7s infinite alternate ease-in-out;
          animation: load 0.7s infinite alternate ease-in-out;
}

.loader::before {
     top: 0;
     background-color: #EC7A62;
     margin-left: 26%;
     margin-top: 15%;

}

.loader::after {
    bottom: 0;
    background-color: #EC7A62;
    margin-left: 26%;
    margin-bottom: 15%;
}

@-webkit-keyframes load {
  0% {
    left: 0;
    height: 30px;
    width: 15px;
  }
  50% {
    height: 8px;
    width: 40px;
  }
  100% {
    left: 235px;
    height: 30px;
    width: 15px;
  }
}

@keyframes load {
  0% {
    left: 0;
    height: 30px;
    width: 15px;
  }
  50% {
    height: 8px;
    width: 40px;
  }
  100% {
    left: 235px;
    height: 30px;
    width: 15px;
  }
}

.flip-image{
    width: inherit;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800");
{
  box-sizing: border-box;
  margin: 0;
}


.movie_card {
  position: relative;
  display: block;
  width: 800px;
  height: 350px;
  margin: 50px auto;
  overflow: hidden;
  border-radius: 10px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
   font-family: 'Montserrat', helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.movie_card:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.movie_card .info_section {
  position: relative;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  z-index: 2;
  border-radius: 10px;
}
.movie_card .info_section .movie_header {
  position: relative;
  padding: 25px;
  height: 40%;
}
.movie_card .info_section .movie_header h1 {
  color: #fff;
  font-weight: 400;
}
.movie_card .info_section .movie_header h4 {
  color: #9ac7fa;
  font-weight: 400;
}
.movie_card .info_section .movie_header .minutes {
  display: inline-block;
  margin-top: 10px;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.13);
}
.movie_card .info_section .movie_header .imdb {
  display: inline-block;
  margin-top: 10px;
  color: #9ac7fa;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.13);
}
.movie_card .info_section .movie_header .type {
  display: inline-block;
  color: #cee4fd;
  margin-left: 10px;
}

.movie_card .info_section .movie_desc {
  padding: 25px;
  height: 50%;
}
.movie_card .info_section .movie_desc .text {
  color: #cfd6e1;
}

.movie_card .blur_back {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  right: 0;
  background-size: cover !important;
  border-radius: 11px;
}

@media screen and (min-width: 768px) {
  .movie_header {
    width: 60%;
  }

  .movie_desc {
    width: 50%;
  }

  .info_section {
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #0d0d0c), to(transparent));
    background: linear-gradient(to right, #0d0d0c 50%, transparent 100%);
  }

  .blur_back {
    width: 80%;
    background-position: -100% 10% !important;
  }
}
@media screen and (max-width: 768px) {
  .movie_card {
    width: 95%;
    margin: 70px auto;
    min-height: 350px;
    height: auto;
  }

  .blur_back {
    width: 100%;
    background-position: 50% 50% !important;
  }

  .movie_header {
    width: 100%;
    margin-top: 85px;
  }

  .movie_desc {
    width: 100%;
  }

  .info_section {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #141413), to(transparent));
    background: linear-gradient(to top, #141413 50%, transparent 100%);
    display: inline-grid;
  }
}
#bright {
  box-shadow: 0px 0px 150px -45px rgba(255, 51, 0, 0.5);
}
#bright:hover {
  box-shadow: 0px 0px 120px -55px rgba(255, 51, 0, 0.5);
}

.bright_back {
  background: url("https://occ-0-2433-448.1.nflxso.net/art/cd5c9/3e192edf2027c536e25bb5d3b6ac93ced77cd5c9.jpg");
}

#tomb {
  box-shadow: 0px 0px 150px -45px rgba(19, 160, 134, 0.6);
}
#tomb:hover {
  box-shadow: 0px 0px 120px -55px rgba(19, 160, 134, 0.6);
}

.tomb_back {
  background: url("https://fsmedia.imgix.net/cd/c9/5e/ba/4817/4d9a/93f0/c776ec32ecbc/lara-crofts-neck-looks-unnatural-in-the-new-poster-for-tomb-raider.png");
}

#ave {
  box-shadow: 0px 0px 150px -45px rgba(199, 147, 75, 0.7);
  margin-bottom: 200px;
}
#ave:hover {
  box-shadow: 0px 0px 120px -55px rgba(199, 147, 75, 0.7);
}

@media (max-width: 600px) {
    .searchtext{
        margin: 12% 0px 0% 25%;
        font-size: 20px;
    }

    .cards{
        margin-top: 10%;
    }

    .movie_card{
        overflow: auto;
        min-height: 200px;
    }

    .info_section{
        overflow: auto;
    }

    .card__expander{
        width: 350%;
        margin: 0px;
        margin-top: 50%;
        min-height: 100px;
    }

    img.flip-image {
        height: 135px;
    }

    .card__expander, .info_section, .movie_card{
        height: 200px;
    }

    .card:nth-of-type(3n+0) .card__expander {
        right: 200px;
    }

    .card:nth-child(2) .card__expander, .card:nth-child(5) .card__expander,
    .card:nth-child(8) .card__expander, .card:nth-child(11) .card__expander,
    .card:nth-child(14) .card__expander, .card:nth-child(17) .card__expander,
    .card:nth-child(20) .card__expander{
        right: 100px;
    }

    .matchpercentage {
        font-size: 50%;
    }


    .loader::after, .loader::before{
        margin-left: -40%;
    }
}

